@{
    ViewBag.Title = "Confirm Email";
}

<div class="col-md-12 login_smoll_box_textbg">
    <h2>Check your email</h2>
    <p> </p>
</div>
<div class="login_smoll_container clearfix">

    <div class="col-md-12 login_small_box">

        <div class="form-group clearfix">
            <label for="" class="input_label_style">We just sent you an email to <span>XXXX</span></label>
        </div>



        <div class="form-group clearfix">
            <a href="#" class="btn btn-default register_small_button secondary_color_bg" title="Resend email">Resend email</a>
        </div>

    </div>

</div><!--login_smoll_container-->
