@model Business.JobArbitration
@{
    ViewBag.Title = "Arbitration";
    //Layout = "~/Views/Shared/_LayoutProfile.cshtml";
    Layout = Layout;
    var text = Model.MyJobs;
    var itemJobs = Model.MyJobs.Select(c =>
    {
        return new SelectListItem
        {
            Text = c.JobTitle,
            Value = c.JobId.ToString()

        };

    }).ToList();
}

<main id="content" class="middle">
    <figure class="mobile-hide text-center"><img src="http://placehold.it/190x50" alt="Placeholder" width="190" height="50"></figure>

    <form action="" method="post" class="form-arbitration form-a">
        <h1>Arbitration</h1>
        @if (ViewBag.Success != null)
        {
            if (ViewBag.Success == true)
            {
                <h5 class="alert-success">Arbitration has been created successfully</h5>
            }
            else
            {
                <h5 class="alert-danger">Unable to create arbitration, Please try after sometime!</h5>
            }
        }
        <p>
            <label for="jobs">Select relevan job</label>
            @Html.DropDownList("jobs", itemJobs)
        </p>
        <p>
            <label for="issue">Select Issue</label>
            <select id="issue" name="issue">
                <option value="1" selected>Deadline missed</option>
                <option value="2">Position #2</option>
                <option value="3">Position #3</option>
                <option value="4">Position #4</option>
                <option value="5">Position #5</option>
            </select>
        </p>
        <p>
            <label for="outcome">Select desired outcome</label>
            <select id="outcome" name="outcome">
                <option value="1" selected>100% refund</option>
                <option value="2">Position #2</option>
                <option value="3">Position #3</option>
                <option value="4">Position #4</option>
                <option value="5">Position #5</option>
            </select>
        </p>
        <p>
            <span class="label">Required stake</span>
            <span class="input-multiple">
                <span>
                    <label for="stakeAmount" class="hidden">Amount</label>
                    <input type="number" id="stakeAmount" name="stakeAmount" value="25" min="25">
                </span>
                <span>
                    <label for="stakeCrypto" class="hidden">Crypto</label>
                    <select id="stakeCrypto" name="stakeCrypto">
                        <option value="ETH" selected>ETH</option>

                    </select>
                </span>
            </span>
        </p>
        <p class="submit">
            <a href="./">Connect Metamask</a>
            <button type="submit" onclick="return validateform();">Stake</button>
        </p>
    </form>
</main>
<script>
    function validateform() {
        
        var jobid = $("#jobs").val();
        if (jobid == null ||  parseInt(jobid) <= 0) {

            $("#jobs").addClass("input-danger");
            return false;
        }
        
    }

</script>

