<!doctype html>
<html lang="en" dir="ltr" class="theme-home">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MatchBX</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, target-densitydpi=device-dpi, shrink-to-fit=no">
    <meta name="author" content="https://psdhtml.me">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="preload" as="style" href="styles/screen.css">
    <link rel="preload" as="font" href="styles/icons/icomoon.woff2">
    <link rel="preload" as="script" href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    <link rel="preload" as="script" href="javascript/scripts.js">
    <link rel="preload" as="script" href="javascript/custom.js">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" media="screen" href="styles/screen.css">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#310e6d">
    <link rel="manifest" href="manifest.json">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta property="og:title" content="MatchBX">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="MatchBX">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="MatchBX">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="MatchBX">
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">
    <script type="application/ld+json">
        [
        {
        "@*context": "http://schema.org/"*@,
        "@*type": "Organization"*@,
        "url": "",
        "name": "MatchBX",
        "legalName": "aXpire",
        "description": "",
        "logo": "",
        "image": "",
        "contactPoint": {
        "@*type": "ContactPoint"*@,
        "contactType": "Customer service",
        "telephone": "+1-646-921-5353"
        },
        "address": {
        "@*type": "PostalAddress"*@,
        "streetAddress": "23 Lime Tree Bay Avenue",
        "addressLocality": "Cypress Pointe",
        "addressRegion": "",
        "postalCode": "8JRC+M3",
        "addressCountry": "KY"
        }
        },
        {
        "@*context": "http://schema.org"*@,
        "@*type": "WebSite"*@,
        "url": "",
        "name": "aXpire",
        "description": "",
        "author": {
        "@*type": "Organization"*@,
        "url": "https://psdhtml.me",
        "name": "psdHTML.me",
        "description": "PSD to responsive HTML coding"
        }
        }
        ]
    </script>
</head>
<body>
    <div id="root">
        <header id="top">
            <p id="logo"><a href="./" accesskey="h">MatchBX</a> <span>Hire freelancers, pay in cryptocurrency</span></p>
            <nav id="skip">
                <ul>
                    <li><a href="#up" accesskey="n">Skip to navigation (n)</a></li>
                    <li><a href="#content" accesskey="c">Skip to content (c)</a></li>
                    <li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
                </ul>
            </nav>
            <nav id="up">
                <ul>
                    <li class="btn"><a href="./"><i class="icon-logout"></i> Login</a></li>
                    <li class="btn a"><a href="./">Register</a></li>
                    <li>
                        <a href="./"><i class="icon-theme-light"></i> <span class="hidden">Theme</span></a>
                        <ul>
                            <li class="active"><a href="./">Light theme</a></li>
                            <li><a href="./">Dark theme</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>En<span class="hidden">glish</span></span></a>
                        <ul>
                            <li class="active"><a hreflang="en" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>English</span></a></li>
                            <li><a hreflang="de" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Deutsch</span></a></li>
                            <li><a hreflang="fr" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Français</span></a></li>
                            <li><a hreflang="no" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Norsk</span></a></li>
                            <li><a hreflang="pl" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Polski</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <main id="content">
            <article class="module-featured">
                <h1>Hire freelancers,<br> pay in cryptocurrency</h1>
                <p>Complete freelance work to earn crypto, or post a job and have great freelancers come to you</p>
                <p class="link-btn">
                    <a href="./">Get hired</a>
                    <a href="./" class="d">Hire freelancers</a>
                </p>
                <figure><img src="images/content/a.png" alt="Placeholder" width="823" height="500"></figure>
                <figure class="bg"><img src="images/content/map.png" alt="Placeholder" width="744" height="304"></figure>
            </article>
            <article>
                <h2 class="text-center s36 strong overlay-q">Featured Listings</h2>
                <ul class="list-post">
                    <li>
                        <h2><a href="./">Looking for professional translation of MatchBX.io</a></h2>
                        <p>We're looking for professional translators to help us translate MatchBX into several new languages...</p>
                        <ul class="list-icon">
                            <li class="price">25,000 <span class="small">AXPR</span> <span>$180.25</span></li>
                            <li><i class="icon-time"></i> 17 days remaining</li>
                            <li><i class="icon-upload"></i> 2 submissions</li>
                            <li><i class="icon-bulb"></i> Intermediate</li>
                            <li><i class="icon-list"></i> Writing</li>
                        </ul>
                        <div class="module-author">
                            <figure><img src="http://placehold.it/46" alt="Placeholder" width="46" height="46"></figure>
                            <h3>aXpire <span>23 completed transactions</span></h3>
                            <ul>
                                <li><i class="icon-badge-check"></i> Administrator</li>
                                <li class="rating-a" data-val="4.5" data-of="5">4.5</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h2><a href="./">Looking for professional translation of MatchBX.io</a></h2>
                        <p>We're looking for professional translators to help us translate MatchBX into several new languages...</p>
                        <ul class="list-icon">
                            <li class="price">25,000 <span class="small">AXPR</span> <span>$180.25</span></li>
                            <li><i class="icon-time"></i> 17 days remaining</li>
                            <li><i class="icon-upload"></i> 2 submissions</li>
                            <li><i class="icon-bulb"></i> Intermediate</li>
                            <li><i class="icon-list"></i> Writing</li>
                        </ul>
                        <div class="module-author">
                            <figure><img src="http://placehold.it/46" alt="Placeholder" width="46" height="46"></figure>
                            <h3>aXpire <span>23 completed transactions</span></h3>
                            <ul>
                                <li><i class="icon-badge-check overlay-c"></i> Administrator</li>
                                <li class="rating-a" data-val="4.5" data-of="5">4.5</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h2><a href="./">Looking for professional translation of MatchBX.io</a></h2>
                        <p>We're looking for professional translators to help us translate MatchBX into several new languages...</p>
                        <ul class="list-icon">
                            <li class="price">25,000 <span class="small">AXPR</span> <span>$180.25</span></li>
                            <li><i class="icon-time"></i> 17 days remaining</li>
                            <li><i class="icon-upload"></i> 2 submissions</li>
                            <li><i class="icon-bulb"></i> Intermediate</li>
                            <li><i class="icon-list"></i> Writing</li>
                        </ul>
                        <div class="module-author">
                            <figure><img src="http://placehold.it/46" alt="Placeholder" width="46" height="46"></figure>
                            <h3>aXpire <span>23 completed transactions</span></h3>
                            <ul>
                                <li><i class="icon-badge-check overlay-d"></i> Administrator</li>
                                <li class="rating-a" data-val="4.5" data-of="5">4.5</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h2><a href="./">Looking for professional translation of MatchBX.io</a></h2>
                        <p>We're looking for professional translators to help us translate MatchBX into several new languages...</p>
                        <ul class="list-icon">
                            <li class="price">25,000 <span class="small">AXPR</span> <span>$180.25</span></li>
                            <li><i class="icon-time"></i> 17 days remaining</li>
                            <li><i class="icon-upload"></i> 2 submissions</li>
                            <li><i class="icon-bulb"></i> Intermediate</li>
                            <li><i class="icon-list"></i> Writing</li>
                        </ul>
                        <div class="module-author">
                            <figure><img src="http://placehold.it/46" alt="Placeholder" width="46" height="46"></figure>
                            <h3>aXpire <span>23 completed transactions</span></h3>
                            <ul>
                                <li><i class="icon-badge-check overlay-e"></i> Administrator</li>
                                <li class="rating-a" data-val="4.5" data-of="5">4.5</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p class="link-btn text-center"><a href="./">Load more</a></p>
            </article>
            <div class="module-news">
                <article>
                    <figure><img src="images/content/b.png" alt="Placeholder" width="713" height="583"></figure>
                    <h2>Browse jobs and bid for those that match your skills</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie neque arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat</p>
                    <p class="link-btn"><a href="./">Get hired</a></p>
                </article>
                <article>
                    <figure><img src="images/content/c.png" alt="Placeholder" width="674" height="594"></figure>
                    <h2>Find the best freelancer and get your work completed with ease</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie neque arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat</p>
                    <p class="link-btn"><a href="./" class="d">Post a job</a></p>
                </article>
            </div>
            <ul class="list-count a">
                <li><i class="icon-value"></i> <span><span>$</span>1,000,000</span> Total transaction volume</li>
                <li><i class="icon-axpire"></i> <span>5.000.000 <span>AXPR</span></span> total AXPR burnt</li>
                <li><i class="icon-complete"></i> <span>5000</span> total completed jobs</li>
            </ul>
            <article class="module-wide tabs-b">
                <nav>
                    <h2 class="text-center s36 strong overlay-q">Leaderboard</h2>
                    <ul>
                        <li><a href="./">Top Freelancers</a></li>
                        <li><a href="./">Top Employers</a></li>
                    </ul>
                </nav>
                <div>
                    <div>
                        <ul class="list-users">
                            <li>
                                <figure><img src="http://placehold.it/60" alt="Placeholder" width="60" height="60"></figure>
                                <h3>Matthew Markham <span>23 completed transactions</span></h3>
                                <ul>
                                    <li><i class="icon-badge-check overlay-d"></i> Prime member</li>
                                    <li class="rating-a" data-val="4.5" data-of="5">Rating (5)</li>
                                </ul>
                                <p class="link-btn"><a href="./">view profile</a></p>
                            </li>
                            <li>
                                <figure><img src="http://placehold.it/60" alt="Placeholder" width="60" height="60"></figure>
                                <h3>aXpire <span>23 completed transactions</span></h3>
                                <ul>
                                    <li><i class="icon-badge-check overlay-e"></i> Administrator</li>
                                    <li class="rating-a" data-val="4.5" data-of="5">Rating (5)</li>
                                </ul>
                                <p class="link-btn"><a href="./">view profile</a></p>
                            </li>
                            <li>
                                <figure><img src="http://placehold.it/60" alt="Placeholder" width="60" height="60"></figure>
                                <h3>Satoshi Nakamoto <span>23 completed transactions</span></h3>
                                <ul>
                                    <li><i class="icon-badge-check"></i> Basic User</li>
                                    <li class="rating-a" data-val="4.5" data-of="5">Rating (5)</li>
                                </ul>
                                <p class="link-btn"><a href="./">view profile</a></p>
                            </li>
                            <li>
                                <figure><img src="http://placehold.it/60" alt="Placeholder" width="60" height="60"></figure>
                                <h3>Tyler Smith <span>23 completed transactions</span></h3>
                                <ul>
                                    <li><i class="icon-badge-check overlay-f"></i> Verified Partner</li>
                                    <li class="rating-a" data-val="4.5" data-of="5">Rating (5)</li>
                                </ul>
                                <p class="link-btn"><a href="./">view profile</a></p>
                            </li>
                        </ul>
                        <p class="link-btn text-center"><a class="e" href="./">Load more</a></p>
                    </div>
                    <div>
                        <p>Content for "Top Employers" tab.</p>
                    </div>
                </div>
            </article>
            <article>
                <h2 class="text-center s36 strong overlay-q">What they say about MatchBX</h2>
                <ul class="list-quote">
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
                    <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
                </ul>
            </article>
            <article class="module-wide">
                <h2 class="text-center s36 strong overlay-q">Choose the category that fits<br> your needs, or your skills</h2>
                <ul class="list-category">
                    <li><i class="icon-marketing"></i> Marketing <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-development"></i> Development <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-creative"></i> Creative <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-writing"></i> Writing <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-admin"></i> Admin <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-blockchain"></i> Blockchain <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-bounty"></i> Bounty <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                    <li><i class="icon-other"></i> Other <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></li>
                </ul>
            </article>
            <article class="module-cta">
                <h2>Complete freelance work to earn crypto, or post a job and have great freelancers come to you</h2>
                <p class="link-btn">
                    <a href="./">Get hired</a>
                    <a href="./" class="d">Hire freelancers</a>
                </p>
            </article>
        </main>
        <footer id="footer">
            <nav>
                <div>
                    <h3>Who We Are</h3>
                    <ul>
                        <li><a href="./">aXpire</a></li>
                        <li><a href="./">About Us</a></li>
                        <li><a href="./">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="./">Help Center</a></li>
                        <li><a href="./">Leave Feedback</a></li>
                        <li><a class="email">info//axpire/com</a></li>
                    </ul>
                </div>
                <form action="./" method="post">
                    <h3>Newsletter</h3>
                    <p>
                        <label for="na">Enter email address to join</label>
                        <input type="email" id="na" name="na" required>
                        <button type="submit">Submit</button>
                    </p>
                </form>
                <div>
                    <h3>Get social</h3>
                    <ul class="list-social">
                        <li><a href="./"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
                        <li><a href="./"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
                        <li><a href="./"><i class="icon-linkedin"></i> <span>Linkedin</span></a></li>
                        <li><a href="./"><i class="icon-youtube"></i> <span>YouTube</span></a></li>
                        <li><a href="./"><i class="icon-reddit"></i> <span>Reddit</span></a></li>
                        <li><a href="./"><i class="icon-paper-plane"></i> <span>???</span></a></li>
                        <li><a href="./"><i class="icon-medium"></i> <span>Medium</span></a></li>
                    </ul>
                </div>
            </nav>
            <div class="module-popup">
                <p class="link-icon"><a href="./"><i class="icon-bell"></i> Notifications</a></p>
                <ul class="list-popup">
                    <li>
                        <h3><i class="icon-bell"></i> Hello, Jonathan Doe</h3>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</p>
                    </li>
                    <li>
                        <h3><i class="icon-bell"></i> Hello, Jonathan Doe</h3>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li><a href="./">Privacy Policy</a></li>
                <li><a href="./">Term of Use</a></li>
                <li><a href="./">Contact</a></li>
                <li><a href="#root">Back to <span>Top</span></a></li>
            </ul>
            <p>Copyright &copy; <span class="date">2019</span> aXpire. All Rights Reserved.</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascript/jquery.js"><\/script>');</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="javascript/jquery-ui.js"><\/script>')</script>
    <script defer src="javascript/scripts.js"></script>
    <script defer src="javascript/custom.js"></script>
</body>
</html>
