
@{
   

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatTest</title>
</head>
<body>
    <div> 
        @Html.Partial("~/Views/Shared/Chat.cshtml");
    </div>
</body>
</html>
