@model MatchBX.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    var message = TempData["ErrorMessage"] != null ? TempData["ErrorMessage"].ToString() : null;
    
}
<script type="text/javascript">
    $(function () {
        $("#FormForgot").validate({
            errorClass: "error_span",
            errorElement: "span",
            rules: {

                Email: {
                    required: true,
                    email: true
                }
               
            },
            messages: {
                Email: {
                    email: "Please enter a valid email address",
                    required: "Please tell us your email address",
                  
                },
            },
            highlight: function(element, errorClass) {
                $(element).removeClass(errorClass);
            },
            submitHandler: function (form) {
                
                 _ForgotPasswordViewModel = { "Email": $("#Email").val()}
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("ForgotPassword", "Login")',
                    data: { model:_ForgotPasswordViewModel },
                    success: function (data) {
                        if (data.Status == "true")
                        {
                            $('#divMsg').removeClass("error_message_show_small");
                            $('#msgIcon').removeClass("error_close_icon");
                            $('#divMsg').addClass("col-md-12 success_message_show_small");
                            $('#msgIcon').addClass("check_success_icon");
                        }
                        else
                        {
                            $('#divMsg').removeClass("col-md-12 success_message_show_small");
                            $('#msgIcon').removeClass("check_success_icon");
                            $('#divMsg').addClass("error_message_show_small");
                            $('#msgIcon').addClass("error_close_icon");
                        }
                        $('#msg').html(data.Message);

                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        
        $('#errorMsg').empty();
        
        var msg ="@message";
        var status=@Html.Raw(Json.Encode(TempData["Status"]));
 
        $("#email").keydown(function(){
        
                $('#divMsg').removeClass("error_message_show_small");
                $('#msgIcon').removeClass("error_close_icon");
                $('#msg').html("");
              })
        
    })
       
    function OnSuccess(data) {  
     
        
        if(data.status=="true")
        {

            $('#divMsg').removeClass("error_message_show_small");
            $('#msgIcon').removeClass("error_close_icon");
            $('#divMsg').addClass("col-md-12 success_message_show_small");
            $('#msgIcon').addClass("check_success_icon");
        }
        else
        {
                   
            $('#divMsg').removeClass("col-md-12 success_message_show_small");
            $('#msgIcon').removeClass("check_success_icon");
            $('#divMsg').addClass("error_message_show_small");
            $('#msgIcon').addClass("error_close_icon");
                   
        }
        $('#msg').html(data.message);
    }  
  
</script>


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>   

<span id="" class="col-md-12 popup_box_title clearfix">
    Reset password
    <a href="#" onClick="closebox('forgotpassword_view_pop_id')" class="popup_close_bg" title="Close"></a>
</span>


    <div class="col-md-12 login_small_box">
    
@using (Html.BeginForm("ForgotPassword", "Login",null, FormMethod.Post, new { @id = "FormForgot" }))
{
            @Html.AntiForgeryToken()
            <div class="form-group clearfix">
                <label for="email" class="input_label_style">Email Address</label>
                <input type="email" class="form-control form_input" name="Email" id="Email">
            </div>
            <div class="form-group clearfix">
           
                <input type="submit" class="btn btn-default register_small_button secondary_color_bg" title="SEND RESET EMAIL" value="Send reset email" id="btnSubmit" />
            </div>
            <div class="form-group clearfix">
                <div id="divMsg">
                    <i id="msgIcon"></i>
                    <p id="msg" class="error_close_icon" style="width:auto"></p>
                </div>
            </div>
        }
    </div>






