@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div class="line-gutter-backdrop"></div><table>
        <tbody>
            <tr>
                <td class="line-number" value="1"></td>
                <td class="line-content">
                    MatchBX's Privacy Policy
                </td>
            </tr>
            <tr>
                <td class="line-number" value="2"></td>
                <td class="line-content">
                    Last Update: Sept 2018
                </td>
            </tr>
            <tr>
                <td class="line-number" value="3"></td>
                <td class="line-content">
                    Please read this privacy policy (the “Policy”) carefully to understand how we use your personal information. If you do not agree with this Policy, your choice is not to use MatchBX.io (the “Site”). By accessing or using this Site, you agree to this Policy. This Policy may change from time to time. If there are any material changes to how your personal information is used, we will notify you. Your continued use of the Site after we make changes is deemed to be acceptance of those changes, so please check the Policy periodically for update.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="4"></td>
                <td class="line-content">
                    The Short Version
                </td>
            </tr>
            <tr>
                <td class="line-number" value="5"></td>
                <td class="line-content">
                    At MatchBX we care about your privacy. We do not sell or rent your personal information to third parties for their direct marketing purposes without your explicit consent. We do not disclose it to others except as disclosed in this Policy or required to provide you with the services of the Site and mobile applications, meaning - to allow you to buy, sell, share the information you want to share on the Site; to contribute on the forum; pay for products; post reviews and so on; or where we have a legal obligation to do so.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="6"></td>
                <td class="line-content">
                    We collect information that you provide us or voluntarily share with other users, and also some general technical information that is automatically gathered by our systems, such as IP address, browser information and cookies to enable you to have a better user experience and a more personalized browsing experience.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="7"></td>
                <td class="line-content">
                    We will not share information that you provide us in the process of the registration - including your contact information - except as described in this Policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="8"></td>
                <td class="line-content">
                    Information that you choose to publish on the Site (photos, videos, text, music, reviews, deliveries) - is no longer private, just like any information you publish online.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="9"></td>
                <td class="line-content">
                    Technical information that is gathered by our systems, or third party systems, automatically may be used for Site operation, optimization, analytics, content promotion and enhancement of user experience. We may use your information to contact you - to provide notices related to your activities, or offer you promotions and general updates, but we will not let any other person, including sellers and buyers, contact you, other than through your user profile on the Site.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="10"></td>
                <td class="line-content">
                    Your personal information may be stored in systems based around the world, and may be processed by third party service providers acting on our behalf. These providers may be based in countries that do not provide an equivalent level of protection for privacy as that enjoyed in the country in which you live. In that case, we will provide for adequate safeguards to protect your personal information.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="11"></td>
                <td class="line-content">
                    You can exercise your rights over your personal information, by contacting us at hello@matchbox.io. More details about the rights applicable to you are in the long version of the Policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="12"></td>
                <td class="line-content">
                    The above are just the highlights. We encourage you to read more about the information we collect, how we use it, understand the meaning of cookie (no, you can’t eat it) and more in the long version of our Policy below.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="13"></td>
                <td class="line-content">
                    The Longer Version
                </td>
            </tr>
            <tr>
                <td class="line-number" value="14"></td>
                <td class="line-content">
                    MatchBX respects your privacy and is committed to protect the personal information of its users - buyers, sellers, and visitors browsing the Site (“Users”). We believe that you have a right to know our practices regarding the information we may collect when you visit and/or use the Site. This Policy explains our privacy practices for the Site and services provided by MatchBX. By accessing and/or using the Site and its related sites, applications, services, goods and/or registering for a MatchBX account, you agree to the terms and conditions of this Policy, including to our collection, use, disclosure, processing and retention of your personal information. You can also learn how to limit sharing of information in this Policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="15"></td>
                <td class="line-content">
                    Information We Collect
                </td>
            </tr>
            <tr>
                <td class="line-number" value="16"></td>
                <td class="line-content">
                    When you register to the Site we ask you to provide certain personal information, including a valid email address, location, facebook or google account log in details and username. We may collect additional information such as physical address, telephone number or other contact details and additional authentication information, to provide you with the services you need (such as payment or withdrawal of funds, sending physical goods), or to ensure the marketplace integrity (for example, prevention of fraud).
                </td>
            </tr>
            <tr>
                <td class="line-number" value="17"></td>
                <td class="line-content">
                    In addition, we collect information while you access, browse, view or otherwise use the Site. In other words, when you access the Site we are aware of your usage of the Site, and may gather, collect and record the information relating to such usage, including geo-location information, IP address, device and connection information, browser information and web-log information, and all communications recorded by Users through the Site. We use that information to enhance user experience, personalize your browsing experience as well as monitor the Site for preventing fraud and inappropriate content or behaviour. We may also collect supplemental information obtained from third parties such as demographic and navigation data.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="18"></td>
                <td class="line-content">
                    Additionally, in order to improve your online experience at MatchBX, we have implemented impression reporting. While you view our ads, we may gather user Global Unique Identifier, HTTP request data like, user agent, IP, host, url, country/continent from which request made, browser info, device/operating system/operating system version.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="19"></td>
                <td class="line-content">
                    Once you register, your username and additional information regarding your activity is made public and is visible to all Users of the Site. This information includes photos you upload, ratings, and additional information you may choose to add to your profile.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="20"></td>
                <td class="line-content">
                    How do we collect Information?
                </td>
            </tr>
            <tr>
                <td class="line-number" value="21"></td>
                <td class="line-content">
                    You directly provide us with most of the information we collect. You do this by filling out the registration details on the Site, and by posting and sharing additional information voluntarily. This can include information about sellers and their Gigs, User's location, sharing of portfolio, ratings and feedbacks by buyers and anything you choose to add to your user profile. We also collect technical information indirectly and automatically through our systems. This information may include logging your Internet Protocol (IP) address, software configuration, operating system and use of cookies (cookies are small files sent from us to your computer and sometimes back). Cookies ultimately help us improve your navigation and ease of use of our Site. You can find further information about Cookies in this Policy below, under "Cookies". We may also collect information from commercially available sources such as data aggregators and public databases.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="22"></td>
                <td class="line-content">
                    How do we use the Information collected?
                </td>
            </tr>
            <tr>
                <td class="line-number" value="23"></td>
                <td class="line-content">
                    Where relevant under applicable laws, all processing of your personal information will be justified by a "condition" for processing. In the majority of cases, processing will be justified on the basis that:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="24"></td>
                <td class="line-content">
                    * you have provided your consent for us to use your personal information for a specific purpose;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="25"></td>
                <td class="line-content">
                    * our use of your personal information is necessary to perform a contract or take steps to enter into a contract with you (e.g. to provide you with services which you have purchased);
                </td>
            </tr>
            <tr>
                <td class="line-number" value="26"></td>
                <td class="line-content">
                    * the processing is necessary to comply with a relevant legal obligation or regulatory obligation that we have (e.g. fraud prevention); or
                </td>
            </tr>
            <tr>
                <td class="line-number" value="27"></td>
                <td class="line-content">
                    * the processing is necessary to support our legitimate interests as a business (e.g. to improve our services to you or to customise your browsing experience), subject to your interests and fundamental rights and provided it is conducted at all times in a way that is proportionate.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="28"></td>
                <td class="line-content">
                    We will use your personal information for the following purposes:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="29"></td>
                <td class="line-content">
                    * to provide you with quality service and security. For example, we may use the information collected from you to verify your identity. We may also use this information to establish and set up your account, verify or re-issue a password, log your activity and contact you from time to time. The information helps us improve our services to you and customize your browsing experience. In addition, this information helps us track any fraudulent activities and other inappropriate activities and monitor content integrity; or
                </td>
            </tr>
            <tr>
                <td class="line-number" value="30"></td>
                <td class="line-content">
                    * to maintain appropriate business records, to comply with lawful requests by public authorities and to comply with applicable laws and regulations or as otherwise required by law. Should you ever deactivate your account with us, we will keep your information for a limited period in order to meet the above purposes.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="31"></td>
                <td class="line-content">
                    We will ask for your consent before using information for a purpose other than those set out in this Policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="32"></td>
                <td class="line-content">
                    Direct marketing:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="33"></td>
                <td class="line-content">
                    * We may use your personal information to send you direct marketing communications about our products, services or promotions from MatchBX that may be of interest to you or our related services. This may be via email, post, SMS, telephone or targeted online advertisements.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="34"></td>
                <td class="line-content">
                    * In most cases our processing of your personal information for marketing purposes is based on our legitimate interest, although some cases (such as where required by law) may be based on your consent. You have a right to prevent direct marketing of any form at any time - this can be exercised by following the opt-out link attached to each communication or by sending an email to hello@matchbx.io.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="35"></td>
                <td class="line-content">
                    * We take steps to limit direct marketing to a reasonable and proportionate level, and to send you communications which we believe may be of interest or relevance to you, based on the information we have about you.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="36"></td>
                <td class="line-content">
                    How long do we keep your information?
                </td>
            </tr>
            <tr>
                <td class="line-number" value="37"></td>
                <td class="line-content">
                    We apply a general rule of keeping personal information only for as long as is required to fulfil the purpose for which it was collected. However, in some circumstances we may retain your personal information for longer periods of time. We may retain your information for the following purposes:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="38"></td>
                <td class="line-content">
                    * as long as it is necessary and relevant for our operations, e.g. so that we have an accurate record of your dealings with us in the event of any complaints or challenge; and
                </td>
            </tr>
            <tr>
                <td class="line-number" value="39"></td>
                <td class="line-content">
                    * we may retain personal information from closed accounts to comply with applicable laws, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation, enforce our Site terms and take other actions as permitted by law.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="40"></td>
                <td class="line-content">
                    Children Under the Age of 13
                </td>
            </tr>
            <tr>
                <td class="line-number" value="41"></td>
                <td class="line-content">
                    Our Site is not intended for children under 13 years of age. No one under age 13 should provide any personal information to or on the Site. We do not knowingly collect personal information from children under 13. Parents and guardians should at all times supervise their children's activities. If we learn we have collected or received personal information from a child under 13, we will delete that personal information. If you believe we might have any information from or about a child under 13, please contact us at matchbx.io.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="42"></td>
                <td class="line-content">
                    Sharing Personal Information with Third Parties
                </td>
            </tr>
            <tr>
                <td class="line-number" value="43"></td>
                <td class="line-content">
                    We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="44"></td>
                <td class="line-content">
                    We may combine your personal information with information we collect automatically or obtain from other companies and use it to improve and personalize our services, content and advertising. If you do not wish to receive marketing communications from us, you can opt-out through the link attached to each communication or by sending an email to hello@matchbx.io.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="45"></td>
                <td class="line-content">
                    We may provide your personal details to third parties, only in order to operate the Site, provide our services to you, fulfil obligations imposed on us by applicable laws and regulations, and prevent fraud and illegal activities, as detailed below:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="46"></td>
                <td class="line-content">
                    * to service providers for the purpose of opening and operating your account as well as providing ancillary services (example - payment vendors, CRM systems, forum hosting, community management services, mailing systems or technical consultants). Our contracts with these service providers do not permit use of your information for their own (marketing) purposes. Consistent with applicable legal requirements, we take commercially reasonable steps to require third parties to adequately safeguard your personal information and only process it in accordance with our instructions;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="47"></td>
                <td class="line-content">
                    * to respond to a subpoena or court order, judicial process or to regulatory authorities, if we believe we are required to do so by law, or that doing so is reasonably necessary to comply with legal processes; when we believe it necessary or appropriate to disclose personal information to law enforcement authorities, such as to investigate actual or suspected fraud or violations of law, breaches of security, or breaches of this Policy; to respond to claims against us; and to protect the rights, property, or personal safety of MatchBX, our customers, or the public;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="48"></td>
                <td class="line-content">
                    * to secure the site and protect it against fraud, unauthorized transactions (such as money laundering), claims or other liabilities. We do not collect credit information; but allow our payment vendors to collect information for the purpose of collecting payments from buyers on the Site or transferring payments to sellers on the Site. We are not exposed to the payment information provided to our payment vendors, and this information is subject to the privacy policy applicable to the payment vendor; and
                </td>
            </tr>
            <tr>
                <td class="line-number" value="49"></td>
                <td class="line-content">
                    * your personal information may be disclosed if we go through a business transition such as a merger, sale, transfer of all or a portion of aXpire assets, acquisition, bankruptcy or similar event.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="50"></td>
                <td class="line-content">
                    Where We Store Your Personal Information
                </td>
            </tr>
            <tr>
                <td class="line-number" value="51"></td>
                <td class="line-content">
                    Some of the personal information you provide to us may be stored or processed on our behalf by third party suppliers and data processors and may be located in other jurisdictions, such as the United States and Israel, whose laws may differ from the jurisdiction in which you live. Whether to third parties or internally, any transfers of personal information from the European Economic Area (“EEA”) to countries not deemed to provide an adequate level of data protection are governed by European Union (EU) standard contractual clauses, or in the case of the United States, the EU - US Privacy Shield, and/or equivalent data transfer regulations to protect the security and confidentiality of personal information. We will take all steps reasonably necessary to ensure that your personal information is treated securely and in accordance with this Policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="52"></td>
                <td class="line-content">
                    Cookies
                </td>
            </tr>
            <tr>
                <td class="line-number" value="53"></td>
                <td class="line-content">
                    When you visit the Site, we may use industry-wide technologies such as "cookies" (or similar technologies), which store certain information on your computer and which will allow us, among other things, to enable automatic sign-in to the Site, make your browsing much more convenient and effortless and allow us to test user experience and offer you personalized browsing or promotions. By continuing to use this Site, you are agreeing to our placing cookies on your computer or device in accordance with the terms of this Policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="54"></td>
                <td class="line-content">
                    The Site uses cookies to collect statistical data about its use, to tailor the Site's functionality to suit personal preferences and to assist with various aspects of Site operation. These files contain a variety of information such as information about MatchBX webpages visited by you, the length of time you visited the Site, data about how you came to visit the Site, areas viewed by you within the Site, and additional information. Cookies remain on your device for the period described below.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="55"></td>
                <td class="line-content">
                    The following is a more detailed explanation of the types of cookies we use:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="56"></td>
                <td class="line-content">
                    * Necessary cookies
                </td>
            </tr>
            <tr>
                <td class="line-number" value="57"></td>
                <td class="line-content">
                    * Necessary cookies are essential and help you navigate the Site. This helps to support security and basic functionality and are necessary for the proper operation of the Site, so if you block these cookies we can't guarantee your use or the security during your visit.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="58"></td>
                <td class="line-content">
                    * Functionality cookies
                </td>
            </tr>
            <tr>
                <td class="line-number" value="59"></td>
                <td class="line-content">
                    * Functionality cookies are used to provide you the best user experience. These cookies are, for instance, used to personalise content for you in line with your location. It also allows the Site to remember choices made (like turning off use of cookies or which location you have previously selected) to provide more personal features.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="60"></td>
                <td class="line-content">
                    * Performance cookies
                </td>
            </tr>
            <tr>
                <td class="line-number" value="61"></td>
                <td class="line-content">
                    * Performance cookies help us to understand the behaviour of users of the Site. This allows us to continuously improve the Site to provide the best information in support of our project aims. These cookies are also used to help us understand how effective our Site is; for instance these cookies tell us which pages visitors go to most often and if they get error messages from web pages. All of the information that these cookies collect is aggregated, to assist us to improve how the Site works. Some of these cookies are managed by third parties, and you may refer to the third parties' own website privacy notifications for further information. In particular, we use Google Analytics cookies to obtain an overall view of user habits and volumes, and to help improve the overall experience on the Site. Google Analytics is a third-party web analysis service provided by Google Inc, which uses performance cookies and targeting cookies. The information generated by these cookies about your use of the Site (including your IP address) will be transmitted to and stored by Google Inc on servers in the United States.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="62"></td>
                <td class="line-content">
                    Google will use the information collected for the purpose of evaluating your use of our Site on our behalf, compiling reports on website activity and providing other services relating to activity and internet usage to us. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser as described below. Furthermore you can prevent Google’s collection and use of data (cookies and IP address) by downloading and installing the browser plug-in. This creates an opt-out cookie which prevents the further processing of your data. For more information about Google Analytics cookies, please see Google's help pages and privacy policy.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="63"></td>
                <td class="line-content">
                    If you prevent these cookies, we cannot guarantee how the Site will perform for you.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="64"></td>
                <td class="line-content">
                    Blocking or Deleting Cookies
                </td>
            </tr>
            <tr>
                <td class="line-number" value="65"></td>
                <td class="line-content">
                    Once you have given us your agreement to the use of cookies, we shall store a cookie on your computer or device to remember this for next time, so that we can store your preferences and save you time on subsequent visits by eliminating the need to repeatedly enter the same data. You may set your browser to block all cookies, including cookies associated with our services, or to indicate when a cookie is being set by us. You should do this through the browser settings for each browser you use. Please be aware that some of our services will not function if your browser does not accept cookies. However, you can allow cookies from specific websites by making them "trusted websites" in your internet browser.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="66"></td>
                <td class="line-content">
                    The following links may assist you in managing your cookies settings, or you can use the 'help' option in your internet browser for more details:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="67"></td>
                <td class="line-content">
                    * Internet Explorer
                </td>
            </tr>
            <tr>
                <td class="line-number" value="68"></td>
                <td class="line-content">
                    * Google Chrome
                </td>
            </tr>
            <tr>
                <td class="line-number" value="69"></td>
                <td class="line-content">
                    * Safari
                </td>
            </tr>
            <tr>
                <td class="line-number" value="70"></td>
                <td class="line-content">
                    * Adobe (flash cookies)
                </td>
            </tr>
            <tr>
                <td class="line-number" value="71"></td>
                <td class="line-content">
                    If you share the use of a computer or device, accepting or rejecting the use of cookies may affect all users of that compute or device.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="72"></td>
                <td class="line-content">
                    Information on deleting or controlling cookies is also available at www.aboutcookies.org (note that this website is not provided by MatchBX, and we therefore cannot ensure its accuracy, completeness or availability). It is important to remember that many of our services may not function properly if your cookies are disabled. For example, cookies may, in certain cases, save you from the need to enter usernames and passwords, and allow session continuity.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="73"></td>
                <td class="line-content">
                    External Links
                </td>
            </tr>
            <tr>
                <td class="line-number" value="74"></td>
                <td class="line-content">
                    Please note that the Site may contain links to third party sites and if you link to a third party site from the Site, any data you provide to that site and any use of that data by the third party are not under the control of MatchBX and are not subject to this Policy. You should consult the privacy policies of each site you visit. This Policy applies solely to personal information collected by our Site. If you upload content, including your personal information, to a social network and then tag the Site, your submission will be subject to that social network's terms of use and privacy policy, even where you post on an official Fiver page on the social network. We do not have control over these terms of use and privacy policies, and have not reviewed their adequacy. You should therefore review these before submitting any personal information.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="75"></td>
                <td class="line-content">
                    Security
                </td>
            </tr>
            <tr>
                <td class="line-number" value="76"></td>
                <td class="line-content">
                    We take great care in maintaining the security of the Site and your information and in preventing unauthorized access, loss, misuse, alteration, destruction or damage to it through industry standard technologies and internal procedures. We contractually ensure that any third party processing your personal information equally provide for confidentiality and integrity of your data in a secure way. The transmission of data via the internet is not completely secure, and although we will do our best to protect your personal information, we cannot guarantee the security of your data transmitted to the Site; any transmission is at your own risk. Once we have received your data, we will use strict procedures and security features to try to prevent unauthorized access.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="77"></td>
                <td class="line-content">
                    Users who have registered to the Site agree to keep their password in strict confidence and not disclose such password to any third party.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="78"></td>
                <td class="line-content">
                    Further information about our data security practices can be provided on request.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="79"></td>
                <td class="line-content">
                    Rights of Users Under EU Regulation
                </td>
            </tr>
            <tr>
                <td class="line-number" value="80"></td>
                <td class="line-content">
                    Under applicable EU regulation, as of May 25, 2018 you may have some or all of the following rights in respect of your personal information:
                </td>
            </tr>
            <tr>
                <td class="line-number" value="81"></td>
                <td class="line-content">
                    * to obtain a copy of your personal information together with information about how and on what basis that personal information is processed;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="82"></td>
                <td class="line-content">
                    * to rectify inaccurate personal information;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="83"></td>
                <td class="line-content">
                    * to erase your personal information in limited circumstances where it is no longer necessary in relation to the purposes for which it was collected or processed;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="84"></td>
                <td class="line-content">
                    * to restrict processing of your personal information where: (a) the accuracy of the personal information is contested; (b) the processing is unlawful but you object to the erasure of the personal information; (c) we no longer require the personal information for the purposes for which it was collected, but it is required for the establishment, exercise or defense of a legal claim;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="85"></td>
                <td class="line-content">
                    * to challenge processing which we have justified on the basis of our legitimate interest;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="86"></td>
                <td class="line-content">
                    * to object to decisions which are based solely on automated processing or profiling;
                </td>
            </tr>
            <tr>
                <td class="line-number" value="87"></td>
                <td class="line-content">
                    * to obtain a portable copy of your personal information, or to have a copy transferred to a third party controller; or
                </td>
            </tr>
            <tr>
                <td class="line-number" value="88"></td>
                <td class="line-content">
                    * to obtain a copy of or access to safeguards under which your personal information is transferred outside of the EEA.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="89"></td>
                <td class="line-content">
                    In addition to the above, you have the right to lodge a complaint with a supervisory authority for data protection.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="90"></td>
                <td class="line-content">
                    We may ask you for additional data to confirm your identity and for security purposes, before disclosing data requested to you. We reserve the right to charge a fee where permitted by law. We may also decline to process requests that jeopardize the privacy of others, are extremely impractical, or would cause us to take any action that is not permissible under applicable laws. Additionally, as permitted by applicable laws, we may need to retain certain personal information for a limited period of time for record-keeping, accounting and fraud prevention purposes.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="91"></td>
                <td class="line-content">
                    Your California Privacy Rights
                </td>
            </tr>
            <tr>
                <td class="line-number" value="92"></td>
                <td class="line-content">
                    California Civil Code Section § 1798.83 permits California residents that are users of our Site to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to hello@matchbx.io.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="93"></td>
                <td class="line-content">
                    Updating Your Information
                </td>
            </tr>
            <tr>
                <td class="line-number" value="94"></td>
                <td class="line-content">
                    We take steps to ensure that the personal information we collect is accurate and up to date, and we provide you with the opportunity to update your information through your account profile settings. In the event that you believe your information is in any way incorrect or inaccurate, please let us know immediately. We will make sure we investigate the matter and correct any inaccuracies as quickly as possible where necessary or give you ways to update it quickly or to delete it - unless we have to keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request. If for any reason you have a problem with deleting your personal information please contact MatchBX’s Customer Support and we will make reasonable efforts to delete any such information pursuant to any applicable privacy laws.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="95"></td>
                <td class="line-content">
                    You can review and change your personal information by logging into the Site and visiting your account profile page.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="96"></td>
                <td class="line-content">
                    Changes to the Privacy Policy
                </td>
            </tr>
            <tr>
                <td class="line-number" value="97"></td>
                <td class="line-content">
                    We reserve the right to change this Policy at any time, so please re-visit this page frequently.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="98"></td>
                <td class="line-content">
                    Changes to this Policy are effective as of the stated "Last Update" and your continued use of the Site on or after the Last Update date will constitute acceptance of, and agreement to be bound by, those changes.
                </td>
            </tr>
            <tr>
                <td class="line-number" value="99"></td>
                <td class="line-content">
                    Contact Us
                </td>
            </tr>
            <tr>
                <td class="line-number" value="100"></td>
                <td class="line-content">
                    To exercise any of your rights in connection with your personal information. Please include all the relevant details, so your ticket can be handled correctly. We will process any requests in line with any local laws and our policies and procedures. If you do not have an active MatchBX account, please contact us at hello@matchbx.io.
                </td>
            </tr>
            <tr><td class="line-number" value="101"></td><td class="line-content">If you have any questions (or comments) concerning this Policy, please email us at hello@matchbx.io, and we will make an effort to reply within a reasonable timeframe.<span class="html-end-of-file"></span></td></tr>
        </tbody>
    </table>
</body>
</html>
